{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'authentication/css/bootstrap.min.css' %}"  rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">  
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-secondary fs-1 fw-bold text-primary">Barrel-Web</a></li>
          </ul>
          {% if request.user.is_authenticated%}
          <div class="col-md-4 text-end">
            <span class="fs-4">{{request.user.surname}}</span>
            <span class="fs-4">{{request.user.name}}</span>
            <br>
            <a href="{% url 'authentication:signout' %}" class="">Сменить пользователя</a>
            </div>
          {% else %}
          <div class="col-md-3 text-end">
            <a href="{% url 'authentication:signin' %}" class="btn btn-outline-primary me-2">Вход</a>
            <a href="{% url 'authentication:signup' %}" class="btn btn-primary">Регистрация</a>
          </div>
          {% endif %}
        </header>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'shop/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>