{% extends 'authentication/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-xxl-4 col-xl-5 col-lg-4 col-md-12 col-sm-12 mx-auto"></div>
      <div class="col-xxl-4 col-xl-2 col-lg-4 col-md-12 col-sm-12 mx-auto">
        {{ form.username | as_crispy_field }}
        {{ form.password | as_crispy_field }}
        <div class="d-grid gap-2 col-12 mx-auto">
        <button type="submit" class="btn btn-primary mb-5 mt-2">Войти</button>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-5 col-lg-4 col-md-12 col-sm-12 mx-auto"></div>
    </div>
</form>
{% endblock %}