{% extends 'shop/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1 class="text-center mb-5 mt-5">Изменение цены на топливо для {{user.shopkey.name}}</h1>
{% if form.non_field_errors %}
  <div class="non-field-errors">
    {% for error in form.non_field_errors %}
      <p class="form-error">{{ error }}</p>
    {% endfor %}
  </div>
{% endif %}
<form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-5"></div>
      <div class="col-xxl-2 col-xl-6 col-lg-6 col-md-12 col-sm-12 mx-auto">
        {{ form.fuel | as_crispy_field }}
        {{ form.date | as_crispy_field }}
        {{ form.price | as_crispy_field }}
        <div class="d-grid gap-2 col-12 mx-auto">
        <button type="submit" class="btn btn-primary mb-5 mt-2">Изменить</button>
        </div>
      </div>
      <div class="col-5"></div>
    </div>
</form>
{% endblock %}